/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/
/* .heart {
width: 27px;
height: 24px;
} */

.like-icon.is-liked .core {
  fill: var(--heart-body-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-body-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-body-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .sparks {
  animation-name: show_sparks;
  animation-duration: 0.3s;
  animation-delay: 0.3s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
}

.like-icon.is-liked .heart {
  animation-name: change_scale;
  animation-duration: 0.3s;
  animation-delay: 0.1s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}

.like-icon:not(is-liked) .contour {
  fill: var(--heart-contour-color);
  transition: fill 0.1s linear;
}
.card__icon-button:hover {
  .core {
    fill: var(--text-color);
    transition: fill 0.3s linear;
  }
  .main-body {
    fill: var(--text-color);
    transition: fill 0.3s linear 0.05s;
  }
}
.card__icon-button::after {
  .core {
    fill: none;
    transition: fill 0.3s linear 0.03s;
  }
  .main-body {
    fill: var(--text-color);
    transition: fill 0.3s linear;
  }
}
.card__icon-button:active {
  .core {
    fill: var(--heart-body-color);
    transition: fill 0.3s linear;
  }
  .main-body {
    fill: var(--heart-body-color);
    transition: fill 0.3s linear 0.05s;
  }
}

@keyframes moving {
  from {
    margin-left: -15px;
  }

  to {
    margin-left: -19px;
  }
}

@keyframes show_sparks {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes change_scale {
  from {
    scale: 1;
  }

  to {
    scale: 1.5;
  }
}
