/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--page-background-color);
  font-family: var(--main-font-family), sans-serif;
  color: var(--text-color);
  background-image: repeating-linear-gradient(
      to left,
      var(--repeating-gradient-color),
      transparent 2px
    ),
    repeating-linear-gradient(
      to bottom,
      var(--repeating-gradient-color),
      transparent 2px
    ),
    linear-gradient(
      to bottom,
      var(--linear-gradient-from-color),
      var(--linear-gradient-to-color)
    );
  background-size: cover;
  background-attachment: fixed;
}

.header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}

.header__content__section {
  background-color: var(--page-background-color);
  display: flex;
  flex-direction: column;
  border: 2px solid var(--text-color);
  width: clamp(375px, 100%, 700px);
  height: 368px;
  box-sizing: border-box;
}

.header__content__section__logo_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding-top: 136px;
}

.header__content__section__title {
  font-family: var(--accent-font-family);
  font-variation-settings: "wght" var(--min-font-weight);
  line-height: 65px;
  font-size: 65px;
  text-transform: uppercase;
}

.header__content__section__paragraph__title {
  font-family: var(--accent-font-family);
  font-size: clamp(0.875rem, 0.2179rem + 2.8037vw, 1.4375rem);
  font-variation-settings: "wght" var(--min-font-weight);
  text-transform: uppercase;
  line-height: 23px;
  text-align: left;
  box-sizing: border-box;
  padding-top: 20px;
}

.theme-menu {
  box-sizing: border-box;
  padding-top: 25px;
  padding-bottom: 25px;
  align-self: center;
}

.theme-menu__button {
  background-color: transparent;
  border: 0;
  font-family: var(--accent-font-family);
  font-size: 14px;
  font-variation-settings: "wght" var(--min-font-weight);
  line-height: 14px;
  letter-spacing: 0em;
  cursor: pointer;
  text-transform: uppercase;
}

.posts {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.post__text {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 25px 25px;
  row-gap: 27px;
}

.post__text:last-child {
  row-gap: 25px;
}

.post__header {
  color: var(--text-color);
  font-size: 18px;
  line-height: 21.78px;
  font-variation-settings: "wght" var(--max-font-weight);
  box-sizing: border-box;
  padding: 3.5px 10px;
  text-wrap: wrap;
}

.post {
  display: flex;
  flex-direction: column;
  border-color: black;
  background-color: var(--page-background-color);
  border: 2px solid var(--text-color);
  max-width: 696px;
}

.post__text__paragraph {
  color: var(--text-color);
  font-family: var(--main-font-family);
  font-size: 18px;
  font-variation-settings: "wght" var(--min-font-weight);
  line-height: 21px;
  letter-spacing: 0em;
  text-align: start;
}

.post__image__wrapper {
  position: relative;
}

.post__label {
  font-family: var(--accent-font-family);
  font-size: 14px;
  font-variation-settings: "wght" var(--min-font-weight);
  line-height: 14px;
  color: var(--text-color);
  position: absolute;
  top: 25px;
  right: 13px;
  text-shadow: 0 0 1px var(--label-color);
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px var(--label-color)) or
    (-webkit-text-stroke: 1px var(--label-color))
) {
  p {
    -webkit-text-stroke: 1px var(--label-color);
    text-shadow: none;
  }
}
.post__image {
  min-height: 696px;
}

.card_buttons {
  display: flex;
  box-sizing: border-box;
  padding-left: 25px;
  justify-content: end;
}

.card__icon-button {
  background-color: transparent;
  border-color: transparent;
  box-sizing: border-box;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  height: 38px;
}

.like-icon {
  color: var(--text-color);
}

.card__like-button {
  height: 38px;
  width: 130px;
}

.footer__save__button {
  width: 335px;
  height: 55px;
}

.button__common__styles {
  border: 2px solid var(--text-color);
  cursor: pointer;
  background: linear-gradient(to right, var(--text-color) 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background 0.5s ease-in-out;
  z-index: 0;
  background-color: var(--page-background-color);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  align-self: flex-start;
}

.button__text {
  font-family: var(--accent-font-family);
  font-variation-settings: "wght" var(--min-font-weight);
  font-size: 14px;
  line-height: 13px;
  letter-spacing: 0em;
  color: var(--button-text-color);
  position: relative;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding-top: 52px;
  padding-bottom: 100px;
}

.dialog__window {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 30px 40px;
  gap: 30px;
  width: 357px;
  height: 193px;
  background-color: var(--page-background-color);
  border: 2px solid var(--text-color);
}

.dialog__content {
  display: flex;
  flex-direction: row;
  height: 63px;
  text-transform: uppercase;
  gap: 20px;
}

.dialog__submit__button {
  width: 100%;
  cursor: pointer;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.3);
  backdrop-filter: blur(7px);
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  width: 16px;
  height: 13px;
  color: var(--text-color);
  pointer-events: none;
  opacity: 0.6;
  animation-name: moving;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.theme-menu__button:disabled {
  opacity: 0.6;
}

.theme-menu__button:hover {
  opacity: 0.6;
}
.theme-menu__button:disabled::after {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  margin-top: 1px;
  background-color: var(--text-color);
  opacity: 0.6;
  transition: width 0.3s;
  transition-timing-function: ease;
}

.theme-menu__button:focus::after {
  width: 100%;
}

.theme-menu__list {
  box-sizing: border-box;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: left;
}

.card__like-button:focus,
.card__icon-button:focus,
.footer__save__button:focus,
.dialog__submit__button:focus {
  outline: none;
}

.card__like-button:focus,
.footer__save__button:focus,
.dialog__submit__button:focus {
  box-shadow: 2px 2px 0 var(--text-color);
  transition: box-shadow 0.3s;
  transition-timing-function: ease;
}

.footer__save__button:hover,
.card__like-button:hover,
.dialog__submit__button:hover {
  background-position: left bottom;
}

.save__button__icon {
  height: 21px;
  width: 21px;
}

.button__text,
.save__button__icon,
.dialog__submit__button__icon {
  mix-blend-mode: difference;
  align-self: center;
  z-index: 1;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--text-color);
  transition: border 0.3s;
  transition-timing-function: ease;
}
.dialog__submit__button {
  height: 38px;
}

.dialog__content__text {
  line-height: 21px;
}

.sparks {
  opacity: 0;
}

.brightness__filter {
  filter: brightness(200%);
}

.contrast_filter {
  filter: contrast(70%);
}

.blur__filter {
  filter: blur(0.3rem);
}

.opacity__filter {
  filter: opacity(0.6);
}

.grayscale__filter {
  filter: grayscale(0.8);
}

.saturate__filter {
  filter: saturate(200%);
}

.hue-rotate__filter {
  filter: hue-rotate(200%);
}

.sepia__invert__filter {
  filter: sepia(50%) invert(0.3);
}

@media (width <= 375px) {
  .header__content__section {
    height: 327px;
  }

  .post {
    max-width: 375px;
  }

  .post__image {
    min-height: 375px;
  }

  .header__content__section__logo_title {
    padding-top: 120px;
  }

  .header__content__section__title {
    line-height: 49px;
    font-size: 49px;
  }

  .header__content__section__paragraph__title {
    line-height: 14px;
  }

  .save__button__icon {
    height: 28px;
    width: 28px;
  }

  .footer__save__button {
    width: 306px;
    height: 84px;
    flex-direction: column;
  }

  .dialog__window {
    width: 336px;
    height: 191px;
  }
}
